<a href="https://colab.research.google.com/github/roshinihavilah2004/roshinihavilah123/blob/main/Roshini_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK-1

1.) Read the given three CSV files to different pandas dataframes.

In [ ]:
 #import
 import pandas as pd
 #read
 transactions_df = pd.read_csv('/content/Transaction.csv')
 customers_df = pd.read_csv('/content/Customers (1).csv')
 continent_df = pd.read_csv('/content/Continent (1).csv')
 #print
 print(customers_df.head())
 print(transactions_df.head())
 print(continent_df.head())

   customer_id  region_id  start_date    end_date
0            1          3  02-01-2020  03-01-2020
1            2          3  03-01-2020  17-01-2020
2            3          5  27-01-2020  18-02-2020
3            4          5  07-01-2020  19-01-2020
4            5          3  15-01-2020  23-01-2020
   customer_id    txn_date txn_type  txn_amount
0          429  21-01-2020  deposit          82
1          155  10-01-2020  deposit         712
2          398  01-01-2020  deposit         196
3          255  14-01-2020  deposit         563
4          185  29-01-2020  deposit         626
   region_id region_name
0          1   Australia
1          2     America
2          3      Africa
3          4        Asia
4          5      Europe

**2**)Merge the Customers and Transaction into a single dataframe

In [ ]:
merged_df = pd.merge(customers_df, transactions_df, on='customer_id')
print(merged_df.head())

   customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

3.)Calculate the duration in days between start date and end date

In [ ]:
merged_df['start_date'] = pd.to_datetime(merged_df['start_date'], errors='coerce')
merged_df['end_date'] = pd.to_datetime(merged_df['end_date'], errors='coerce')
merged_df = merged_df.dropna(subset=['start_date', 'end_date'])
merged_df['duration_days'] = (merged_df['end_date'] - merged_df['start_date']).dt.days
print(merged_df.head())

    customer_id  region_id start_date   end_date    txn_date  txn_type  \
0             1          3 2020-02-01 2020-03-01  02-01-2020   deposit
1             1          3 2020-02-01 2020-03-01  05-03-2020  purchase
2             1          3 2020-02-01 2020-03-01  17-03-2020   deposit
3             1          3 2020-02-01 2020-03-01  19-03-2020  purchase
36            2          3 2020-08-03 2020-12-03  03-01-2020   deposit

    txn_amount  duration_days
0          312             29
1          612             29
2          324             29
3          664             29
36         549            122

<ipython-input-18-39223fff215d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['duration_days'] = (merged_df['end_date'] - merged_df['start_date']).dt.days

4)Drop the duplicate rows in the merged dataframe if any.

In [ ]:
merged_df = merged_df.drop_duplicates()
print(merged_df.head())
print(merged_df.shape)

    customer_id  region_id start_date   end_date    txn_date  txn_type  \
0             1          3 2020-02-01 2020-03-01  02-01-2020   deposit
1             1          3 2020-02-01 2020-03-01  05-03-2020  purchase
2             1          3 2020-02-01 2020-03-01  17-03-2020   deposit
3             1          3 2020-02-01 2020-03-01  19-03-2020  purchase
36            2          3 2020-08-03 2020-12-03  03-01-2020   deposit

    txn_amount  duration_days
0          312             29
1          612             29
2          324             29
3          664             29
36         549            122
(5117, 8)

5. Drop rows with missing values in the merged dataframe if any.

In [ ]:
#This command will give you a count of null values in each column.
print(customers_df.isnull().sum())

customer_id    0
region_id      0
start_date     0
end_date       0
dtype: int64

In [ ]:
merged_df = merged_df.dropna()
print(merged_df.head())
print(merged_df.shape)

    customer_id  region_id start_date   end_date    txn_date  txn_type  \
0             1          3 2020-02-01 2020-03-01  02-01-2020   deposit
1             1          3 2020-02-01 2020-03-01  05-03-2020  purchase
2             1          3 2020-02-01 2020-03-01  17-03-2020   deposit
3             1          3 2020-02-01 2020-03-01  19-03-2020  purchase
36            2          3 2020-08-03 2020-12-03  03-01-2020   deposit

    txn_amount  duration_days
0          312             29
1          612             29
2          324             29
3          664             29
36         549            122
(5117, 8)

 6. Calculate the average duration of each customer

In [ ]:
average_duration = merged_df.groupby('customer_id')['duration_days'].mean().reset_index()
average_duration.columns = ['customer_id', 'average_duration_days']
print(average_duration)

     customer_id  average_duration_days
0              1                   29.0
1              2                  122.0
2              3                    0.0
3              4                  275.0
4              5                  121.0
..           ...                    ...
259          495                 -121.0
260          496                  107.5
261          498                   16.0
262          499                   60.0
263          500                  152.0

[264 rows x 2 columns]

7. Display the unique transaction types.

In [ ]:
unique_transaction_types = merged_df['txn_type'].unique()
print(unique_transaction_types)

['deposit' 'purchase' 'withdrawal']

 8. Display the count of each transaction type with respect to each continent.

In [ ]:
transaction_count_by_continent = merged_df.groupby(['region_id', 'txn_type']).size().reset_index(name='count')
print(transaction_count_by_continent)

    region_id    txn_type  count
0           1     deposit    556
1           1    purchase    346
2           1  withdrawal    311
3           2     deposit    585
4           2    purchase    340
5           2  withdrawal    355
6           3     deposit    425
7           3    purchase    252
8           3  withdrawal    259
9           4     deposit    424
10          4    purchase    269
11          4  withdrawal    276
12          5     deposit    321
13          5    purchase    199
14          5  withdrawal    199

9. Find out the selling cost average for packages developed in Pascal

In [ ]:
software_df = pd.read_csv('/content/Software (1).csv')
print(software_df.head())

     PNAME          TITLE DEVELOPIN    SCOST  DCOST  SOLD
0     MARY         README       CPP   300.00   1200    84
1    ANAND     PARACHUTES     BASIC   399.95   6000    43
2    ANAND  VIDEO TITLING    PASCAL  7500.00  16000     9
3  JULIANA      INVENTORY     COBOL  3000.00   3500     0
4   KAMALA   PAYROLL PKG.     DBASE  9000.00  20000     7

In [ ]:
savg = software_df.groupby('DEVELOPIN')['SCOST'].mean()
pas = software_df[software_df['DEVELOPIN'] == 'PASCAL']
pasavg = pas['SCOST'].mean()
print('The average selling cost for packages developed in Pascal:', pasavg)

The average selling cost for packages developed in Pascal: 3066.65

 10. Display the names of those who have done the DAP Course.

In [ ]:
studies_df=pd.read_csv('/content/Studies (1).csv')
studies_df.head()

     PNAME INSTITUTE COURSE  COURSE FEE
0    ANAND   SABHARI  PGDCA        4500
1    ALTAF      COIT    DCA        7200
2  JULIANA      BDPS    MCA       22000
3   KAMALA  PRAGATHI    DCA        5000
4     MARY   SABHARI  PGDCA        4500

In [ ]:
studies_df.info()
studies_df['COURSE'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PNAME       13 non-null     object
 1   INSTITUTE   13 non-null     object
 2   COURSE      13 non-null     object
 3   COURSE FEE  13 non-null     int64
dtypes: int64(1), object(3)
memory usage: 544.0+ bytes

array(['PGDCA', 'DCA', 'MCA', 'DAP', 'DCAP', 'HDCA', 'DCS'], dtype=object)

In [ ]:
studies_df[studies_df['COURSE']=='DAP']

      PNAME INSTITUTE COURSE  COURSE FEE
5    NELSON  PRAGATHI    DAP        6200
11  REVATHI   SABHARI    DAP        5000

11. Display the lowest course fee.

In [ ]:
lowest_course_fee = software_df['SCOST'].min()
print('Lowest Course Fee:', lowest_course_fee)

Lowest Course Fee: 300.0

 12. Display the details of the packages for which development costs have been
 recovered.

In [ ]:
recovered_packages = software_df[software_df['SCOST'] >= software_df['DCOST']]
print('Details of Packages for  Development Costs Which Have Been Recovered:')
print(recovered_packages)

Details of Packages for  Development Costs Which Have Been Recovered:
     PNAME       TITLE DEVELOPIN  SCOST  DCOST  SOLD
15  VIJAYA  TSR EDITOR         C  900.0    700     6

13. What is the cost of the costliest software development in Basic.

In [ ]:
basic_costliest = software_df[software_df['DEVELOPIN'] == 'BASIC']['DCOST'].max()
print('Cost of the Costliest Software Development in Basic:', basic_costliest)

Cost of the Costliest Software Development in Basic: 6000

14. How many programmers paid 5000 to 10000 for their course.
 

In [ ]:
programmer_df=pd.read_csv('/content/Programmer (1).csv')
programmer_df.head()

     PNAME        DOB        DOJ GENDER    PROF1   PROF2  SALARY
0    ANAND  12-Apr-66  21-Apr-92      M   PASCAL   BASIC    3200
1    ALTAF  02-Jul-64  13-Nov-90      M  CLIPPER   COBOL    2800
2  JULIANA  31-Jan-60  21-Apr-90      F    COBOL   DBASE    3000
3   KAMALA  30-Oct-68  02-Jan-92      F        C   DBASE    2900
4     MARY  24-Jun-70  01-Feb-91      F      CPP  ORACLE    4500

In [ ]:
programmers_5000_to_10000 = programmer_df[(programmer_df['SALARY'] >= 5000) & (programmer_df['SALARY'] <= 10000)]
count_prog = programmers_5000_to_10000.shape[0]
print('Number of Programmers Who Paid 5000 to 10000 for Their Course:', count_prog)

Number of Programmers Who Paid 5000 to 10000 for Their Course: 0

 15. How many programmers know either COBOL or Pascal.

In [ ]:
co_or_pa=programmer_df[
 (programmer_df['PROF1'] == 'COBOL') | (programmer_df['PROF2'] == 'COBOL') |
 (programmer_df['PROF1'] == 'PASCAL') | (programmer_df['PROF2'] == 'PASCAL')]
co_or_pa
num= len(co_or_pa)
print("The number of  programmers know either COBOL or PASCAL is :",num)

The number of  programmers know either COBOL or PASCAL is : 8